<div class="h-110 bg-[#ECEAE4] flex flex-col justify-end rounded-t-[80px]">
  <div class="flex flex-col justify-center gap-6 h-25 px-10">
    <div class="flex items-center justify-around">
      <div class="text-2xl">Our customers were hired by*:</div>
      <img src="images/tcs.png" alt="" class="h-8" />
      <img src="images/infosys.png" alt="" class="h-8" />
      <img src="images/wipro.png" alt="" class="h-8" />
      <img src="images/hcl.png" alt="" class="h-8" />
      <img src="images/mphasis.png" alt="" class="h-8" />
    </div>
    <div class="text-center text-[13px]"><span class="text-red-900">*</span>PortfolioWala is not affiliated to these companies</div>
  </div>
  <div class="bg-[#0f141e] h-80 px-10 rounded-t-[80px] w-full">
    <div class="h-80 px-10 flex flex-col flex-1 gap-6">
      <div class="h-70 p-10 flex flex-1 justify-around">
        <div class="flex flex-col gap-8 px-5">
          <div class="text-xl text-white">Connect with us on social media</div>
          <div class="flex gap-4">
            <a href="#" target="_blank"
              ><i class="fab fa-linkedin fa-2x text-blue-500"></i
            ></a>
            <a href="#" target="_blank"
              ><i class="fab fa-twitter fa-2x text-blue-400"></i
            ></a>
            <a href="#" target="_blank"
              ><i class="fab fa-instagram fa-2x text-pink-500"></i
            ></a>
          </div>
        </div>
        <div class="flex flex-col gap-3 px-5">
          <div class="text-xl text-[#303848]">Resume</div>
          <div class="text-white">Create a Resume</div>
          <div class="text-white">Resume Templates</div>
          <div class="text-white">Resume Examples</div>
        </div>
        <div class="flex flex-col gap-3 px-5">
          <div class="text-xl text-[#303848]">CV</div>
          <div class="text-white">Create a CV</div>
          <div class="text-white">CV Examples</div>
          <div class="text-white">CV Templates</div>
        </div>
        <div class="flex flex-col gap-3 px-5">
          <div class="text-xl text-[#303848]">Portfolio</div>
          <div class="text-white">Create a Portfolio</div>
          <div class="text-white">Portfolio Templates</div>
          <div class="text-white">Portfolio Examples</div>
        </div>
        <div class="flex flex-col gap-3 px-5">
          <div class="text-xl text-[#303848]">Support</div>
          <div class="text-white">FAQ</div>
          <div class="text-white">Contact Us</div>
          <div class="text-white">Terms of service</div>
        </div>
      </div>
      <div class="flex justify-between items-center text-white px-16">
        <div class="flex flex-col gap-3">
          <div class="flex gap-1">
            <img
              src="https://upload.wikimedia.org/wikipedia/en/4/41/Flag_of_India.svg"
              alt="Indian Flag"
              width="40px"
            />
            <h1 class="text-xl">Bharat</h1>
          </div>
          <div>Copyright &#64;2025</div>
        </div>
        <div>
          <img src="images/logo.png" alt="" class="h-18 w-20 bg-white" />
        </div>
        <div class="text-xl">Developed by Krishna Singha</div>
      </div>
    </div>
  </div>
</div>
