<div @fadeIn>
  <div class="h-170 px-10">
    <div class="bg h-170 py-10 flex justify-center">
      <div class="b h-150 flex-1 p-2 flex flex-col gap-5">
        <div class="bg-e0 h-23 text-5xl flex items-center gap-1">
          <i
            class="fa-solid fa-star text-yellow-500"
            style="text-shadow: 0px 0px 5px black"
          ></i>

          <span>Trustify</span>
        </div>
        <div class="text-7xl font-serif animated-text">
          Trusted by jobseekers all around the world
        </div>
        <div class="h-16 flex items-center text-5xl gap-5">
          <i class="fa-regular fa-star bg-[#F8F7F3]"></i>
          <i class="fa-regular fa-star bg-[#F8F7F3]"></i>
          <i class="fa-regular fa-star bg-[#F8F7F3]"></i>
          <i class="fa-regular fa-star-half-stroke bg-[#F8F7F3]"></i>
          <i class="fa-regular fa-star-half-stroke bg-[#F8F7F3]"></i>
        </div>
        <div class="text-2xl h-20">
          PortfolioWala customers got the job on average 48 days faster.*
        </div>
        <div class="text-sm">*based on a survey of 258 PortfolioWala users</div>
      </div>
      <div class="b h-150 flex-1 p-2 relative">
        <div class="relative mt-25">
          <!-- <img src="images/logo.png" alt=""> -->
          <svg
            width="120"
            height="121"
            viewBox="0 0 120 121"
            fill="none"
            class="absolute right-125"
          >
            <path
              d="M118.138 0.759766C118.138 65.8257 65.2031 118.76 0.137695 118.76"
              stroke="#86CEAA"
              stroke-width="3"
            ></path>
            <path
              d="M91.6983 0.759766C91.6983 51.2467 50.6242 92.3202 0.137695 92.3202"
              stroke="#86CEAA"
              stroke-width="3"
            ></path>
            <path
              d="M78.4786 0.759766C78.4786 43.9572 43.3358 79.1003 0.137695 79.1003"
              stroke="#86CEAA"
              stroke-width="3"
            ></path>
            <path
              d="M104.918 0.759766C104.918 58.5362 57.9137 105.54 0.137695 105.54"
              stroke="#86CEAA"
              stroke-width="3"
            ></path>
          </svg>
          <svg width="550" height="410" viewBox="0 0 483 310" fill="none">
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M15.8708 0.607059C12.0632 -0.41317 8.13452 1.86197 7.22288 5.69697C-23.531 135.07 53.9007 266.154 182.935 300.729C311.957 335.3 444.56 260.495 482.613 133.077C483.741 129.3 481.476 125.366 477.668 124.345L15.8708 0.607059Z"
              fill="#F4D480"
            ></path>
          </svg>
          <svg
            width="116"
            height="50"
            viewBox="0 0 116 50"
            fill="none"
            class="absolute top-80 left-99"
          >
            <path
              d="M0.340088 47.9258H115.91"
              stroke="#E57700"
              stroke-width="3.22001"
            ></path>
            <path
              d="M0.340088 25.0801H115.91"
              stroke="#E57700"
              stroke-width="3.22001"
            ></path>
            <path
              d="M0.340088 2.23438H115.91"
              stroke="#E57700"
              stroke-width="3.22001"
            ></path>
          </svg>
        </div>
        <div class="grid grid-cols-3 gap-5 absolute top-25 left-20">
          <div class="group relative">
            <div class="h-30 w-30 bg-red-300">
              <img
                src="images/photo1.jpg"
                alt=""
                class="h-full w-full object-cover"
              />
            </div>
            <div class="job-box">
              <!-- Arrow -->
              <div
                class="absolute bottom-[-10px] left-1/2 -translate-x-1/2 w-0 h-0 border-l-[10px] border-l-transparent border-r-[10px] border-r-transparent border-t-[10px] border-t-white"
              ></div>

              <div class="flex items-center gap-2">⭐⭐⭐⭐⭐</div>
              <p class="text-sm font-bold">Aug 24, 2020</p>
              <p class="text-sm">
                Brilliant Professional CV builder. Easy to do and worked for me
                - got offered a job the same day!
              </p>
              <p class="text-xs font-semibold">— Kerry Haves</p>
            </div>
          </div>

          <div class="group relative">
            <div class="h-30 w-30 bg-red-300">
              <img
                src="images/photo2.jpg"
                alt=""
                class="h-full w-full object-cover"
              />
            </div>
            <div class="job-box">
              <!-- Arrow -->
              <div
                class="absolute bottom-[-10px] left-1/2 -translate-x-1/2 w-0 h-0 border-l-[10px] border-l-transparent border-r-[10px] border-r-transparent border-t-[10px] border-t-white"
              ></div>

              <div class="flex items-center gap-2">⭐⭐⭐⭐⭐</div>
              <p class="text-sm font-bold">Aug 24, 2020</p>
              <p class="text-sm">
                Brilliant Professional CV builder. Easy to do and worked for me
                - got offered a job the same day!
              </p>
              <p class="text-xs font-semibold">— Kerry Haves</p>
            </div>
          </div>

          <div class="group relative">
            <div class="h-30 w-30 bg-red-300">
              <img
                src="images/photo3.jpg"
                alt=""
                class="h-full w-full object-cover"
              />
            </div>
            <div class="job-box">
              <!-- Arrow -->
              <div
                class="absolute bottom-[-10px] left-1/2 -translate-x-1/2 w-0 h-0 border-l-[10px] border-l-transparent border-r-[10px] border-r-transparent border-t-[10px] border-t-white"
              ></div>

              <div class="flex items-center gap-2">⭐⭐⭐⭐⭐</div>
              <p class="text-sm font-bold">Aug 24, 2020</p>
              <p class="text-sm">
                Brilliant Professional CV builder. Easy to do and worked for me
                - got offered a job the same day!
              </p>
              <p class="text-xs font-semibold">— Kerry Haves</p>
            </div>
          </div>

          <div class="group relative">
            <div class="h-30 w-30 bg-red-300">
              <img
                src="images/photo4.jpg"
                alt=""
                class="h-full w-full object-cover"
              />
            </div>
            <div class="job-box">
              <!-- Arrow -->
              <div
                class="absolute bottom-[-10px] left-1/2 -translate-x-1/2 w-0 h-0 border-l-[10px] border-l-transparent border-r-[10px] border-r-transparent border-t-[10px] border-t-white"
              ></div>

              <div class="flex items-center gap-2">⭐⭐⭐⭐⭐</div>
              <p class="text-sm font-bold">Aug 24, 2020</p>
              <p class="text-sm">
                Brilliant Professional CV builder. Easy to do and worked for me
                - got offered a job the same day!
              </p>
              <p class="text-xs font-semibold">— Kerry Haves</p>
            </div>
          </div>

          <div class="group relative">
            <div class="h-30 w-30 bg-red-300">
              <img
                src="images/photo.jpg"
                alt=""
                class="h-full w-full object-cover"
              />
            </div>
            <div class="job-box">
              <!-- Arrow -->
              <div
                class="absolute bottom-[-10px] left-1/2 -translate-x-1/2 w-0 h-0 border-l-[10px] border-l-transparent border-r-[10px] border-r-transparent border-t-[10px] border-t-white"
              ></div>

              <div class="flex items-center gap-2">⭐⭐⭐⭐⭐</div>
              <p class="text-sm font-bold">Aug 24, 2020</p>
              <p class="text-sm">
                Brilliant Professional CV builder. Easy to do and worked for me
                - got offered a job the same day!
              </p>
              <p class="text-xs font-semibold">— Kerry Haves</p>
            </div>
          </div>

          <div class="group relative">
            <div class="h-30 w-30 bg-red-300">
              <img
                src="images/photo6.jpg"
                alt=""
                class="h-full w-full object-cover"
              />
            </div>
            <div class="job-box">
              <!-- Arrow -->
              <div
                class="absolute bottom-[-10px] left-1/2 -translate-x-1/2 w-0 h-0 border-l-[10px] border-l-transparent border-r-[10px] border-r-transparent border-t-[10px] border-t-white"
              ></div>

              <div class="flex items-center gap-2">⭐⭐⭐⭐⭐</div>
              <p class="text-sm font-bold">Aug 24, 2020</p>
              <p class="text-sm">
                Brilliant Professional CV builder. Easy to do and worked for me
                - got offered a job the same day!
              </p>
              <p class="text-xs font-semibold">— Kerry Haves</p>
            </div>
          </div>

          <div class="group relative">
            <div class="h-30 w-30 bg-red-300">
              <img
                src="images/photo.jpg"
                alt=""
                class="h-full w-full object-cover"
              />
            </div>
            <div class="job-box">
              <!-- Arrow -->
              <div
                class="absolute bottom-[-10px] left-1/2 -translate-x-1/2 w-0 h-0 border-l-[10px] border-l-transparent border-r-[10px] border-r-transparent border-t-[10px] border-t-white"
              ></div>

              <div class="flex items-center gap-2">⭐⭐⭐⭐⭐</div>
              <p class="text-sm font-bold">Aug 24, 2020</p>
              <p class="text-sm">
                Brilliant Professional CV builder. Easy to do and worked for me
                - got offered a job the same day!
              </p>
              <p class="text-xs font-semibold">— Kerry Haves</p>
            </div>
          </div>

          <div class="group relative">
            <div class="h-30 w-30 bg-red-300">
              <img
                src="images/photo8.jpg"
                alt=""
                class="h-full w-full object-cover"
              />
            </div>
            <div class="job-box">
              <!-- Arrow -->
              <div
                class="absolute bottom-[-10px] left-1/2 -translate-x-1/2 w-0 h-0 border-l-[10px] border-l-transparent border-r-[10px] border-r-transparent border-t-[10px] border-t-white"
              ></div>

              <div class="flex items-center gap-2">⭐⭐⭐⭐⭐</div>
              <p class="text-sm font-bold">Aug 24, 2020</p>
              <p class="text-sm">
                Brilliant Professional CV builder. Easy to do and worked for me
                - got offered a job the same day!
              </p>
              <p class="text-xs font-semibold">— Kerry Haves</p>
            </div>
          </div>

          <div class="group relative">
            <div class="h-30 w-30 bg-red-300">
              <img
                src="images/photo.jpg"
                alt=""
                class="h-full w-full object-cover"
              />
            </div>
            <div class="job-box">
              <!-- Arrow -->
              <div
                class="absolute bottom-[-10px] left-1/2 -translate-x-1/2 w-0 h-0 border-l-[10px] border-l-transparent border-r-[10px] border-r-transparent border-t-[10px] border-t-white"
              ></div>

              <div class="flex items-center gap-2">⭐⭐⭐⭐⭐</div>
              <p class="text-sm font-bold">Aug 24, 2020</p>
              <p class="text-sm">
                Brilliant Professional CV builder. Easy to do and worked for me
                - got offered a job the same day!
              </p>
              <p class="text-xs font-semibold">— Kerry Haves</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
